.chat-container {
    padding: 0 2rem;
    max-width: 600px;
    margin: auto;
}

.chat-container .title {
    text-align: center;
}

.chat-container .messages {
    border: 1px solid black;
    margin: 20px 0;
    height: 400px;
    padding: 20px;
    overflow: scroll;
}

.chat-container .messages .message {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
}

.receive {
    flex-direction: row-reverse;
}

.receive .text {
    background-color: lightgrey !important;
}

.receive .time {
    text-align: right;
    width: 100% !important;
}

.chat-container .messages .text {
    background-color: lightyellow;
    border: 1px solid;
    border-radius: 12px;
    min-height: 50px;
    min-width: 130px;
    padding: 5px;
    max-width: 50%;
    word-break: break-all;
}

.chat-container .messages .time {
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.chat-container .chats  {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-container .chats button {
    width: 400px;
    height: 35px;
    margin-bottom: 10px;
    background-color: white;
}

.chat-container .input {
    display: flex;
    justify-content: center;
}

.chat-container .input input {
    height: 40px;
    width: 320px;
}

.chat-container .input button {
    height: 45px;
    margin-left: 5px;
}

.chat-container .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.chat-container .buttons button {
    height: 45px;
    width: 150px;
    margin-right: 5px;
}

.chat-container .login {
    text-align: center;
    margin-top: 20px;
}
