.container {
    padding: 0 2rem;
    max-width: 600px;
    margin: auto;
}

.container .title {
    text-align: center;
}

.container .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.container .buttons button {
    height: 45px;
    width: 150px;
    margin-right: 5px;
}

.container .login {
    text-align: center;
    margin-top: 20px;
}
